<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    
    <link rel="stylesheet" href="/css/product/productlists.css">
    <link rel="stylesheet" href="/css/product/style-carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6 .4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <title>User profile</title>
</head>
<body>
    <%- include('../partials/header') %>

    <section>
   
            <article class="article">
                
                <label>Foto</label>
                <img src="<%= user.image %>" alt="">

                <label for="name">Nombre</label>
                <input type="text" name="nombre" value="<%= user.nombre %>" readonly> 

                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" value="<%= user.apellido %>" readonly> 

                <label for="email">Email</label>
                <input type="text" name="email" value="<%= user.email %>" readonly> 
                
                <label for="categoria">Categoria</label>
                <input type="text" name="categoria" value="<%= user.category %>" readonly> 

                    <div class="botones">
                        <a href="/users/<%= user.id %>/updateuser"><input type="button" value="Editar Usuario"></a> 
                    </div>
            </article>

    </section>

    <%- include('../partials/footer') %>
</body>
</html>