<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product/style-carrito.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <title> Carrito de Compra </title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <section class="productos">
            <div class="productos-items">

                <% cartProducts.forEach(cartProducts=>{%>
                    <article class="article">
                        <input type="text" name="nombre" value="<%= cartProducts.name %>" readonly> 
                        <img src="<%= cartProducts.image %>" alt="">
                        <input type="text" name="precio" value="<%= cartProducts.price %>" readonly>
                        <button><a href="/products/<%= cartProducts.id %>/removeFromCart">Eliminar producto</a></button>
                    </article>
                <%}) %>
            </div>
        <div class="carrito">
            <div>
                <h3 class="tucarrito"> Tu Carrito </h3>
            </div>
            <div>
                <div class="seleccionado">
                    <img src="/images/A50.png" alt="Samsung a50" width="80px">
                    <div>
                        <h5 class="nombre"> Samsung A50 </h5>
                    <div class="agregar">
                        <i class="fa-solid fa-minus"></i>
                        <input class="uno" type="text" value="1" disabled>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <p class="precio2"> $72.000</p>
                </div>
                <p class="basura"> <i class="fa-solid fa-trash"></i> </p>
                </div>
            </div>
            <div class="seleccionado">
                <img src="/images/E13.png" alt="Motorola e13" width="80px">
                <div>
                    <h5 class="nombre"> Motorola E13 </h5>
                <div class="agregar">
                    <i class="fa-solid fa-minus"></i>
                    <input class="uno" type="text" value="1" disabled>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <p class="precio2"> $48.000</p>
            </div>
            <p class="basura"> <i class="fa-solid fa-trash"></i> </p>
            </div>
            <div class="footerr">
                <div class="total">
                <strong> Total </strong>
                <p> $120.000 </p>
                </div>
                <div>
                    <button class="pagar"> Pagar <i class="fa-solid fa-bag-shopping"></i></button>
                    <a href="/products/cleanCart">
                        <button class="pagar"> Limpiar Carrito <i class="fa-solid fa-bag-shopping"></i></button>
                    </a>
                </div>
            </div>
        </div>
        </section>

    </main>
    <footer>
        <div>
            <h5 class="titfoo"> Atencion al cliente </h5>
            <p class="numeros"> 0810 972 3728 </p>
            <p class="numeros"> Lu-Vi de 09:00 a 18:00 </p>
            <p class="numeros"> Sab de 9:00 a 13:00</p>
            <p class="numeros"> 2023 NewWaresTech - Todos los derechos Reservados </p>
        </div>
        <div class="redes">
            <h5 class="titfoo"> Contactanos </h5>
            <a class="fb" href="https://www.facebook.com/"> <i class="fa-brands fa-square-facebook"></i></a>
            <a class="inst" href="https://www.instagram.com/"> <i class="fa-brands fa-instagram"></i></a>
            <a class="you" href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a class="email" href="https://mail.google.com/"><i class="fa-solid fa-envelope"></i></a>
            <a class="wpp" href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

    </footer>
</body>

</html>