<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main/home.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/product/productdetail.css" />
    <link rel="stylesheet" href="/css/product/style-carrito.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Detalle del Producto</title>
  </head>
  <body>
    <div class="contenedor">
      <%- include('../partials/header') %>
      <section class="main">
        <div class="container-productdetail">
          <div class="main1">
            <img src="<%= product.image %>" alt="img">            
          </div>
          <div class="main2">
            <p>Nombre del producto: <%= product.name %></p>
            <p>Precio: <%= product.price %> </p>
            <p>Fabricante:</p>
            <p>Descripción:</p> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam ipsa omnis, adipisci assumenda at totam nihil provident, ducimus eius ipsam, facilis sapiente ab fugit. Quas deserunt illum sit officiis atque.</p>
            
            <% if (locals.IsLogged) { %>
            <a href="/products/<%= product.id %>/addToCart"><input type="button" value="Agregar al carrito"></a> 
            <% } %>
            <% if (locals.adminIsLogged) { %>
              <div>
                <a href="/<%= product.id %>/addToAdminCart"><input type="button" value="Agregar al carrito"></a> 
              </div>
              <div>
               <form action="/products/<%= product.id %>/delete?method=delete" method="get">
                 <input type="submit" value="Eliminar Producto"></input>
             </div>
             <div>
            </form>
            <a href="/products/<%= product.id %>/update">
              <button>Editar producto</button>
             </div>
                <% } %>
            </a>
          </div>
        </div>
      </section>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
